.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game-data{
    display: grid;
    grid-template-columns: 50px 75px;
    column-gap: 30px;
    margin-top: 100px;
    margin-bottom: 70px;
    margin-left: 50px;
    font-size: 18px;
    font-family: 'Lobster', cursive;
}
.grid-container {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
    grid-template-rows:  75px 75px 75px 75px;
    column-gap: 40px;
    row-gap: 40px;
    margin-top: 00px;
}
.grid-element{
    text-align: center;
    font-size: 60px;
    font-family: Courier;
    user-select: none;
}
.grid-element.selected{
    background-color:rgb(62, 136, 240);
}