.endpage-header{
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
}
.home-button{
    border: none;
    background-color: transparent;
}

.home-button-img{
    height: 25px;
    width: 25px;
    object-fit: contain;
}

.replay-button{
    height: 27px;
    margin-left: 15px;
    margin-right: 25px;
    background-color: rgb(89, 215, 89);
    box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.22);
    font-family: 'Lobster', cursive;
}

.replay-button:hover{
    cursor: pointer;
    background-color: rgb(78, 190, 78);
}

.replay-button:active{
    background-color: rgb(66, 162, 66);
}

.endpage-content{
    display:flex;
    justify-content: center;
    margin-left: 150px;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-header{
    margin-top: 132px;
    margin-bottom: 68px;
    font-size: 18px;
    font-family: 'Lobster', cursive;
}

.grid-container {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
    grid-template-rows:  75px 75px 75px 75px;
    column-gap: 40px;
    row-gap: 40px;
    margin-right: 10px;
}
.grid-element{
    text-align: center;
    font-size: 60px;
    font-family: Courier;
    user-select: none;
}

.solutions-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
}

.solutions-title{
    margin-top: 130px;
    margin-bottom: 85px;
    font-family: 'Lobster', cursive;
    font-size: 18px;
}

.solutions-content{
    overflow: auto;
    border: 1px solid;
    width: 200px;
    height: 360px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Lobster', cursive;
}